.t-base-template {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    pointer-events: none;
    background: url('../../../assets/images/top-multi-color-glows.png') no-repeat top / 900px;
  }

  &__main {
    flex: 1;
    background: #d5eaff;
    background-image: linear-gradient(0deg, #d5eaff, #fff);
    min-height: calc(100vh - 112px);
  }
}
