/**
 * Meeting Templates Styles
 * 
 * Specialized styling for meeting templates with:
 * - Dashboard layout styles  
 * - Responsive design patterns
 */

// Meeting Dashboard Template Styles
.t-meeting-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    pointer-events: none;
    background: url('../../../assets/images/top-multi-color-glows.png') no-repeat top / 900px;
  }

  &__main {
    flex: 1;
    background: #d5eaff;
    background-image: linear-gradient(0deg, #dfedfc, #fff);
  }

  &__header {
  }

  &__content {
  }

  &__sidebar {
    // no styles
  }
}
